.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.list-group-flush .list-group-item:first-child {
    border-top: 0;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-flush .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.m-0{
  margin: 0!important;  
}
.mb-0{
    margin-bottom: 0;
}
.p-1{
    padding: .25rem;
}
.pl-1{
    padding-left: .25rem;
}
.pl-2{
    padding-left: .5rem;
}
.pl-3{
    padding-left: 1rem;
}
.pr-1{
    padding-right: .25rem;
}
.pr-2{
    padding-right: .5rem;
}
.pr-3{
    padding-right: 1rem;
}
.p-2{
    padding: 0.5rem;
}
.pb-0{
    padding-bottom: 0;
}
.font-weight-normal{
    font-weight: 500;
}
.h2{
    font-size: 1.5rem;
}
.w-100{
    width: 100%;
}
