body, html{
	font-size: 16px;
	font-family: 'Futura', sans-serif;
	font-weight: 400;
	background-color: white;
}

h1, h2, h3, h4, h5{
	font-family: 'Futura', sans-serif;
	font-weight: 700;
}
h1, .h1{
    font-size: 1.875rem;
}
h2, .h2{
    font-size: 1.5rem;
}
h3, .h3{
    font-size: 1.25rem;
}
/*Cargando inicial*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.loader:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
.loader:after, .loader:before {
    content: "";
    position: absolute;
}
#preloader>div {
    text-align: center;
}
.loader {
    display: block;
    position: relative;
    margin: 100px auto 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*Transición suave para movimiento de elementos y evitar que el usuario copie el contenido del elemento*/
.toolbar, .nav-bar-main, #stats-links, #stats-links a, #nav-menu-main nav>ul li>a {
    transition: all .16s ease-in-out;
    -webkit-transition: all .16s ease-in-out;
    -moz-transition: all .16s ease-in-out;
     
}
header {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,.35);
    position:relative;
    z-index: 4;
}
/*Sombra nivel 1*/
.tile {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    
}

/*Sombra nivel 2*/
#processing, .errores .alert.alert-danger, .tile:hover {
    box-shadow: 0px 8px 15px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 8px 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 8px 15px rgba(0,0,0,.3);
}
/*Flexbox*/

.row, #toolbar-main, .tiles{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
}

/*Bootstrap*/
.row{
    width: 100%;
}
.btn-group-xs>.btn, .btn-xs {
    font-size: 1rem;
}

.stats-mini {
    background-image: url(../../img/icons/sprite-stats.png);
    background-repeat: no-repeat;
    background-size: calc(1.5rem + 10px) auto;
    display: block;
}

.stats {
    background-image: url(../../img/icons/sprite-stats.png);
    background-repeat: no-repeat;
    display: block;
}

.stats-emisor {
    width: 46px;
    height: 32px;
    background-position: -5px -5px;
}
.stats-mini.stats-emisor {
    width: 32px;
    height: 18px;
    background-position: 0px 0px;
}

.stats-empleo {
    width: 30px;
    height: 32px;
    background-position: -5px -47px;
}
.stats-mini.stats-empleo {
    width: 18px;
    height: 24px;
    background-position: 0px -22px;
}

.stats-interno {
    width: 54px;
    height: 32px;
    background-position: -5px -89px;
}

.stats-mini.stats-interno {
    width: 34px;
    height: 26px;
    background-position: 0px -42px;
}

.stats-oferta {
    width: 22px;
    height: 32px;
    background-position: -5px -131px;
}

.stats-mini.stats-oferta {
    width: 18px;
    height: 24px;
    background-position: 0px -66px;
}

.stats-receptor {
    width: 46px;
    height: 32px;
    background-position: -5px -173px;
}

.stats-mini.stats-receptor {
    width: 28px;
    height: 22px;
    background-position: 0px -90px;
}

.stats-secundarias {
    width: 32px;
    height: 32px;
    background-position: -5px -215px;
}
.stats-mini.stats-secundarias {
    width: 20px;
    height: 22px;
    background-position: 0px -112px;
}

.stats-sostenible {
    width: 32px;
    height: 32px;
    background-position: -5px -257px;
}
.stats-mini.stats-sostenible {
    width: 22px;
    height: 18px;
    background-position: 0px -136px;
}

footer{
	margin-top: 2%;
}

/*Situr logo*/
#situr-main-brand{
    text-align: center;
    margin: .5rem 0;
}

/*Cinta de opciones*/
#toolbar-main{
    justify-content: center;
    align-items: center;
    padding: 4px .5rem;
}
#toolbar-main:before, #toolbar-main:after{
    content: " ";
    display: table;
}
#toolbar-main:before{
    clear: both;
}
#toolbar-main .btn-group-xs>.btn,#toolbar-main .btn-xs {
    color: #333;
}
#toolbar-main a, #toolbar-main form, #toolbar-main button{
    display: inline-block;
    float: right;
    margin: 0 2px;
}
#toolbar-main input, #toolbar-main select{
    border: 0;
    background-color: inherit;
}
#toolbar-main form input{
    border-bottom: 1px solid #ddd;
}
/*Barra de navegación*/

#nav-menu-main>.brand, #nav-menu-main>nav{
    width: auto;
}
#nav-menu-main>nav{
    width: 100%;
}
#nav-menu-main>.brand a{
    align-items: center;
    text-align:center;
    justify-content: center;
}
#nav-menu-main{
    background-color: transparent;
    /*border-bottom: 2px solid #c08e2d;*/
    color: white;
    align-items: center;
    /*padding: 6px 2%;*/
    font-family: Futura, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
#nav-menu-main a{
    color: white;
}
#nav-menu-main>.brand{
    width: 80%;
}
#nav-menu-main nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav-menu-main nav>ul ul{
    background-color: white;
    z-index: 30;
}
#nav-menu-main nav>ul>li ul, #nav-menu-main nav > ul > li.in > ul > li > ul, #nav-menu-main nav>ul>li .sub-menu{
    display: none;
}
#nav-menu-main nav>ul>li.in ul, #nav-menu-main nav > ul > li.in > ul > li.second-in > ul, #nav-menu-main nav>ul>li.in .sub-menu{
    display: block;
}
#nav-menu-main nav > ul > li.in > ul > li.second-in > ul{
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

#nav-menu-main nav > ul li > a, #nav-menu-main nav > ul li ul a {
    display:block;
    width: 100%;
    text-align:center;
    padding: .5rem 1rem;
}

#nav-menu-main nav>ul li>a{
    position:relative;
    background-color: white;
    color: #004A87;
    
}
#nav-menu-main nav>ul li.in>a, #nav-menu-main nav>ul li>a:hover{
    color: white;
    background-color: #004A87;
}
#nav-menu-main nav>ul>li:not(.in)>a:hover{
    background-color: dodgerblue;
}

#nav-menu-main nav>ul>li:not(:last-child), #nav-menu-main nav>ul li.in ul{
    border-bottom: 1px solid #eee;
}
#nav-menu-main nav>ul li.in a[aria-expanded="true"]{
    border-bottom: 2px solid #eee;
}
#nav-menu-main nav>ul li ul a{
    background-color: white;
    color: #333;
    text-transform: initial;
    font-weight: 400;
}
#nav-menu-main nav>ul li a:hover{
    text-decoration: none;
    /*background-color: #415B91;*/
    
}
#nav-menu-main nav>ul li ul li a:hover{
    color: white;
    background-color: #c08e2d;
}
#nav-menu-main nav>ul li.second-in>a {
    background-color: lightgray;
}
#nav-menu-main nav>ul>li ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
#nav-menu-main{
    display:none;
}
#nav-menu-main.show{
    display:block;
}
#navbar-mobile{
    width: 100%;
}
#navbar-mobile button{
    font-size: 2rem;
    border-radius: 0;
}


/*Tiles*/
.tiles.wrap{
    flex-wrap: wrap;
}
.tiles:before, .tiles:after{
    display: table;
    content: " ";
}
.tiles:after{
    clear: both;
}
.tiles .tile{
    display: inline-block;
    float: left;
    width: 100%;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    background-color: white;
}
.tiles .tile:hover{
    position:relative;
    z-index: 2;
}
.tiles .tile .tile-img{
    height: 160px;
}
.tiles.tiles-mini .tile, .tiles.tiles-mini .tile .tile-img{
    min-height: 0;
    height: 140px;
    width: 140px!important;
}
.tiles.tiles-mini .tile .tile-img .text-overlap{
    display:none;
}
.tiles.tiles-mini .tile .tile-img:hover .text-overlap{
    display:block;
}

.tiles .tile.tile-lg .tile-img{
    height: 180px;
}
.tile {
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: .5rem;
    background-color: rgba(0,0,0,.5);
}
.tile>a{
    padding: 0!important;
}
.tile .tile-img, .tile.inline-tile .tile-img {
    width: 100%;
    overflow: hidden;
    position:relative;
    background-color: #eee;
}
.tile .tile-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transition: all .3s ease-in-out;
}
.tile .tile-img:hover img {
    transform: translateY(-50%) translateX(-50%) scale(1.3);
    transition-delay: 350ms;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}
/*.tile .tile-img img, .tile.inline-tile .tile-img img{*/
/*    max-width: 100%;*/
/*}*/
.tile .tile-img.overlap{
    height: 100%;
}
.tile .tile-img .text-overlap{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color:rgba(0,0,0,.35);*/
    color:white;
    padding: .5rem;
    z-index: 2;
    /*background: rgba(0,0,0,0.05);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.025)), color-stop(100%, rgba(0,0,0,0.65)));*/
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);*/
    /*background: -o-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );*/
    overflow: auto;
}
.tile .tile-img .text-overlap:hover{
    background: rgba(0,0,0,0.45);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.1)), color-stop(100%, rgba(0,0,0,0.45)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.45) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.45) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );
}
.tile .tile-img .text-overlap p, .tile .tile-img .text-overlap h3{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    text-shadow: 0px 1px 2px rgba(0,0,0,.65);
    margin: 0;
    background: rgba(0,0,0,0.05);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.025)), color-stop(100%, rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.025) 0%, rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );
}
.tile .tile-img .text-overlap .tile-label-top{
    position: absolute;
    top: 4%;
    left: 0;
    width: auto;
}
.tile .tile-img .text-overlap p a, .tile .tile-img .text-overlap h3 a{
    color:white;
}
.tile .tile-img .text-overlap p a:hover, .tile .tile-img .text-overlap h3 a:hover{
    text-decoration: none;
    text-decoration-style: solid;
    text-shadow: 0px 4px 8px rgba(0,0,0,.65);
}
.tile .tile-body {
    padding: .5rem 4%;
    width: 100%;
}
.tile .tile-caption p{
    margin: 0;
    
}
.tile .tile-caption p a, .tile .tile-caption p{
    color: #004a87;
}
.tile .tile-caption h3 {
    font-size: 1.125rem;
    margin: .5rem 0;
    line-height: 1.375rem;
}
.tile .tile-caption h3 a{
    font-weight: 700;
    color: #1c4185;
}
.tile .tile-caption .date, .tile .date {
    font-size: 0.875rem;
}
.tile .tile-caption + a, .tile .tile-caption + p + a, .tile .tile-caption + .buttons {
    display:inline-block;
    float:right;    
}
.tile .tile-buttons{
    text-align: right;
    padding: .325rem .5rem;
    background-color: transparent;
}
.tile .tile-buttons button{
    border: 0;
    background-color: inherit;
    padding: 2px 6px;
    border-radius: 2px;
    cursor: pointer;
}
.tile .tile-buttons button:hover{
    background-color: rgba(0,0,0,.1);
}
.tile .tile-buttons .inline-buttons:before, .tile .tile-buttons .inline-buttons:after{
    content: " ";
    display: table;
}
.tile .tile-buttons .inline-buttons:before{
    clear: both;
}
.tile .tile-buttons .inline-buttons button, .tile .tile-buttons .inline-buttons a{
    float: left;
    padding: 2px 3px;
}
.inline-buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    /*display:inline-block;*/
    /*vertical-align: top;*/
}
.tiles.tile-list .inline-buttons{
    display:inline-block;
    vertical-align: top;

}
.tile.inline-tile, #events .tile.inline-tile .tile-img{
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
}
.tile.inline-tile .tile-img {
    background-color: #eee;
    color: #333;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    min-height: 130px;
    width: 100%;
    overflow: hidden;
    position:relative;
}
.title.inline-tile {
    padding-left: 1rem;
}
.tile.inline-tile .tile-img img {
    width: 100%;
    height: auto;
}
.tile .tile-caption h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #00294B;
    margin: .5rem 0;
    line-height: 1.3;
}
.tile .date, .tile .tile-caption .date, .tile h3 small {
    font-size: .875rem;
    margin-bottom: .5rem;
}
.tile .tile-caption+.buttons, .tile .tile-caption+a, .tile .tile-caption+p+a {
    display: inline-block;
    float: right;
}
.tile.inline-tile .tile-img span {
    display: block;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: white;
    font-weight: 500;
}
.tile.inline-tile .tile-img span.day {
    font-weight: 700;
    font-size: 2.325rem;
    line-height: 2.25rem;
}
.tile .row{
    margin: 0;
}
/*Carousel*/

.carousel-inner>.item>img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    min-height: 100%;
    min-width: 100%;
    height: auto;
    max-height: 130%;
    max-width: none;
}
.carousel-inner>.item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background: rgba(0,0,0,0.015);*/
    /*background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.015)), color-stop(100%, rgba(0,0,0,0.45)));*/
    /*background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);*/
    /*background: -o-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);*/
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );*/
}
.carousel-caption {
    left: 0;
    padding-bottom: 3rem;
    bottom: 0;
    background: rgba(0,0,0,0.015);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.015)), color-stop(100%, rgba(0,0,0,0.45)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    padding-top: 3rem;
    width: 100%;
}
.carousel-caption a h2{
    color:white;
}
.carousel-caption a:hover h2, .carousel-caption a{
    text-decoration: none;
}
.carousel-caption a:hover h2{
        text-shadow: 0px 4px 11px rgba(0,0,0,.45);

}
.carousel-caption h2{
    
    text-transform: uppercase;
    text-shadow: 0px 1px 2px rgba(0,0,0,.65);
}
.carousel-caption h2 small{
    color: white;
    display:block;
    text-transform: initial;
    line-height: 1.5;
}
#logosApoyoSitur{
    padding: 2% 0;
}
#logosApoyoSitur img{
    margin-bottom: .5rem;
    margin-right: .25rem;
    margin-left: .25rem;
}
footer a{
    color: white;
}
footer .info-footer{
    background-color: #0072bc;
    color: white;
}
footer .sign-footer{
    padding: .5rem 0;
    background-color: rgba(0,0,0,.15);
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
.no-gutters>[class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}
.breadcrumb>li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.breadcrumb {
    display: flex;
    margin-bottom: .5rem;
}
hr{
    margin: .5rem;
}
.text-blue{
    color: #004A87;
}
.text-red{
    color: red;
}
.text-orange{
    color: orange;
}
.text-green{
    color: yellowgreen;
}
.text-small{
    font-size: 65%;
}
.carousel-control{
    z-index: 11;
}

/*Bootstrap v4*/

.d-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.d-block{
    display:block;
}

.flex-wrap{
    flex-wrap: normal;
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.font-weight-bold{
    font-weight: bold;
}

.m-0{
    margin: 0!important;
}
.mt-3{
    margin-top: 1rem;
}

.ml-3{
    margin-left: 1rem;
}

.mr-1{
    margin-right: 0.25rem;
}

.mr-2{
    margin-right: 0.5rem;
}

.mb-3{
    margin-bottom: 1rem;
}

.p-3 {
    padding: 1rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.rounded {
    border-radius: .25rem!important;
}
.bg-white {
    background-color: #fff!important;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.text-blue{
    color: #145f9e;
}

.text-red{
    color: #cd2c24;
}

.text-green{
    color:#00963f;
}

.text-orange{
    color: orange;
}
a:focus, a:hover {
    text-decoration: none;
    text-shadow: 0px 1px 2px rgba(0,0,0,.65);
}
.info-footer a:hover{
    color: whitesmoke;
}
.hover-icon {
    transition: all .5s ease-in-out;
}

.hover-icon:hover {
    transform: scale(1.1);
}

/*Fonts*/
@font-face {
    font-family: 'Futura';
    font-weight: 400;
    font-style: normal;
    src: url('../../fonts/FuturaStdMedium.eot');
    src: local('Futura'),
         url('../../fonts/FuturaStdMedium.eot') format('embedded-opentype'),
         url('../../fonts/FuturaStdMedium.woff') format('woff'),
         url('../../fonts/FuturaStdMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura';
    font-weight: 500;
    font-style: normal;
    src: url('../../fonts/FuturaMedium.eot');
    src: local('Futura Medium'),
         url('../../fonts/FuturaMedium.eot') format('embedded-opentype'),
         url('../../fonts/FuturaMedium.woff') format('woff'),
         url('../../fonts/FuturaMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Futura';
    font-weight: 700;
    font-style: normal;
    src: url('../../fonts/FuturaStdBold.eot');
    src: local('Futura Bold'),
         url('../../fonts/FuturaStdBold.eot') format('embedded-opentype'),
         url('../../fonts/FuturaStdBold.woff') format('woff'),
         url('../../fonts/FuturaStdBold.ttf') format('truetype');
}