
    .st-links{
        z-index: 40;
    }
    .nav-mobile{
        z-index: 40;
    }
    .st-nav{
        margin-bottom: 0;
    }
    .slider{
        //z-index: 0;
        width: 100%;
        -webkit-box-shadow: inset 0px 4px 16px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 4px 16px -2px rgba(0,0,0,0.75);
        box-shadow: inset 0px 4px 16px -2px rgba(0,0,0,0.75);
    }
    .item{
        width: 100%;  
    }
    .item img{
        width: 100%;
    }
.carousel-inner > .item > img {
    line-height: 1;
}
    .carousel-caption{
        top: 20%;
        right: 15%;
        left: 15%;
    }
    .carousel-caption h1{
        font-family: Roboto, "Arial",sans-serif;
        font-size: 4em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-shadow: 0px 0px 8px rgba(0,0,0,.85);
    }
    .carousel-caption h2{
        font-size: 2em;
        font-family: Roboto, "Arial", sans-serif;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-shadow: 0px 0px 5px rgba(0,0,0,.85);
    }
    @media only screen and (max-width: 768px) and (min-width: 581px){
        .carousel-caption{
            top: 10%;
            left: 2%;
            right: 2%;
        }
        .carousel-caption h1{
            font-size: 3em;
        }
        .carousel-caption h2{
            font-size: 1.5em;
        }
    }
    @media only screen and (max-width: 580px){
        .carousel-caption h1{
            font-size: 2em;
        }
        .carousel-caption h2{
            font-size: 1em;
        }
        .carousel-caption{
            top: 8%;
            left: 2%;
            right: 2%;
        }
    }
    @font-face {
        font-family: century;
        src: url(../fonts/GOTHICB.TTF);
    }
            
