body {

}
/*Lista ruta situr*/
.rusi_list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.rusi_list li a .content-rusi {
    box-shadow: 0px 0px 5px rgba(0,0,0,.85);
    border-radius: 2px;
    border: 0.5px solid rgba(0,0,0,.2);

}

.rusi_list li,.rusi_list li a .content-rusi {
    height: 200px;
    width: 100%;
    background-color: lightgray;
    position: relative;
    cursor: pointer;
}

.rusi_list li a  {
    text-decoration: none;
    color: rgba(0,0,0,.85);;
}

.rusi_list li .rusi_list_imagen, .rusi_list li a .content-rusi .rusi_list_imagen{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: deepskyblue;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}
.rusi_list li .rusi_list_descripcion, .rusi_list li a .content-rusi .rusi_list_descripcion{
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    background-color: white;
    padding: 4%;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    display: inline-block;
}
.rusi_list li a .content-rusi .rusi_list_descripcion {
    padding: 2%!important;
    padding-top: 1%!important;
}

.rusi_list li .rusi_list_descripcion:hover, .rusi_list li a .content-rusi .rusi_list_descripcion:hover {
    background-color: rgba(0,0,0,.02);
}

#detalle-atraccion {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.85);
    z-index: 9;
    color: white;
    text-align: center;
}
#detalle-atraccion .img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#detalle-atraccion .img img{
    width: 100%;

}
#detalle-atraccion .content-detalle{
    padding: 4%;
}
.orden {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.orden span {
    font-size: 2em; 
    color: #005392; 
    font-weight: bold;
}